body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 100px;
}

#palavra {
    font-size: 30px;
    letter-spacing: 10px;
    transition: 0.3s;
}

.acerto {
    color: green;
    transform: scale(1.2);
}

.erro {
    color: red;
    transform: scale(0.8);
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

